In [ ]:
!pip install beautifulsoup4

In [30]:
import requests
import json
from bs4 import BeautifulSoup
x = requests.get('https://s.cafef.vn/bao-cao-tai-chinh/VCB/IncSta/2023/4/0/0/bao-cao-tai-chinh-ngan-hang-thuong-mai-co-phan-ngoai-thuong-viet-nam.chn')

htmldiv = BeautifulSoup(x.content)

tableData = htmldiv.find("table", {"id": "tableContent"})

cellHeaders = htmldiv.find("table", {"id": "tblGridData"}).find("tr").find_all("td")[1:5]
jsonTitle = []
jsonTitle.append("VCB_KetQuaHoatDongKinhDoanh_Theo_Quy")
jsonHeader = []
for cellHeader in cellHeaders:
  jsonHeader.append(cellHeader.text.strip())

linesTable = tableData.find_all("tr")

jsonData = []

for lineTable in linesTable:
  cellTables = lineTable.find_all("td", limit=5)
  jsonData_line = []
  for cellTable in cellTables:
    jsonData_line.append(cellTable.text.strip())
  jsonData.append(jsonData_line)

jsonData.insert(0, [ *jsonTitle])
jsonData.insert(1, ["", *jsonHeader])

f = open("data.json", "w")
f.write(json.dumps(jsonData))
f.close()

f = open("data.json", "r")
jsonDataReaded = f.read()

jsonDataFormated = json.loads(jsonDataReaded)
formatted_data = [row for row in jsonDataFormated if any(row)]
formatted_data

# import pandas as pd
# df = pd.DataFrame(formatted_data)
# df

[['VCB_KetQuaHoatDongKinhDoanh_Theo_Quy'],
 ['', 'Quý 2-2022', 'Quý 3-2022', 'Quý 4-2022', 'Quý 1-2023'],
 ['Thu nhập lãi ròng',
  '12,797,206,000,000',
  '13,663,951,000,000',
  '14,809,469,000,000',
  '14,202,946,000,000'],
 ['Thu nhập lãi và các khoản thu nhập tương tự',
  '20,671,039,000,000',
  '22,569,428,000,000',
  '25,534,087,000,000',
  '27,689,870,000,000'],
 ['Chi phí lãi và các khoản chi phí tương tự',
  '7,873,833,000,000',
  '8,905,477,000,000',
  '10,724,618,000,000',
  '13,486,924,000,000'],
 ['Lãi/lỗ ròng từ hoạt động dịch vụ',
  '694,629,000,000',
  '1,102,269,000,000',
  '2,331,342,000,000',
  '1,456,346,000,000'],
 ['Thu nhập từ hoạt động dịch vụ',
  '1,989,373,000,000',
  '2,598,204,000,000',
  '4,124,029,000,000',
  '2,883,744,000,000'],
 ['Chi phí hoạt động dịch vụ',
  '1,294,744,000,000',
  '1,495,935,000,000',
  '1,792,687,000,000',
  '1,427,398,000,000'],
 ['Lãi/lỗ ròng từ hoạt động kinh doanh ngoại hối và vàng',
  '1,471,713,000,000',
  '1,587,018,000,000',
  '1,187,847,000,000',
  '1,705,674,000,000'],
 ['Lãi/lỗ thuần từ mua bán chứng khoán kinh doanh',
  '18,628,000,000',
  '-154,388,000,000',
  '4,042,000,000',
  '29,903,000,000'],
 ['Lãi/ lỗ thuần từ mua bán chứng khoán đầu tư',
  '84,879,000,000',
  '-1,155,000,000',
  '-1,965,000,000',
  ''],
 ['Lãi thuần từ hoạt động khác',
  '880,941,000,000',
  '389,465,000,000',
  '299,593,000,000',
  '1,082,775,000,000'],
 ['Thu nhập hoạt động khác',
  '1,013,546,000,000',
  '616,998,000,000',
  '721,538,000,000',
  '1,444,875,000,000'],
 ['Chi phí hoạt động khác',
  '132,605,000,000',
  '227,533,000,000',
  '421,945,000,000',
  '362,100,000,000'],
 ['Thu nhập từ góp vốn, mua cổ phần',
  '24,345,000,000',
  '127,264,000,000',
  '32,313,000,000',
  '39,530,000,000'],
 ['Tổng thu nhập kinh doanh',
  '15,972,341,000,000',
  '16,714,424,000,000',
  '18,662,641,000,000',
  '18,517,174,000,000'],
 ['Lãi/ lỗ trong công ty liên kết, liên doanh', '', '', '', ''],
 ['Chi phí hoạt động',
  '5,815,802,000,000',
  '6,370,005,000,000',
  '4,564,916,000,000',
  '5,274,254,000,000'],
 ['Chi phí nhân viên', '', '', '', ''],
 ['Chi phí khấu hao', '', '', '', ''],
 ['Chi phí hoạt động khác', '', '', '', ''],
 ['Lợi nhuận ròng từ hoạt động kinh doanh trước chi phí dự phòng',
  '10,156,539,000,000',
  '10,344,419,000,000',
  '14,097,725,000,000',
  '13,242,920,000,000'],
 ['Chi phí dự phòng', '', '', '', ''],
 ['Chi phí dự phòng rủi ro tín dụng',
  '2,733,452,000,000',
  '2,778,197,000,000',
  '1,678,630,000,000',
  '2,021,576,000,000'],
 ['Các khoản xử lý theo đề tài cấu trúc Ngân hàng', '', '', '', ''],
 ['Dự phòng chung cho các khoản cam kết và nợ tiềm tàng', '', '', '', ''],
 ['Dự phòng giảm giá chứng khoán', '', '', '', ''],
 ['Thu hồi nợ đã xử lý bằng nguồn dự phòng', '', '', '', ''],
 ['Tổng lợi nhuận kế toán',
  '7,423,087,000,000',
  '7,566,222,000,000',
  '12,419,095,000,000',
  '11,221,344,000,000'],
 ['Thu nhập từ các khoản nợ khó đòi', '', '', '', ''],
 ['Lợi nhuận được hưởng từ các công ty liên kết và liên doanh',
  '',
  '',
  '',
  ''],
 ['Tổng lợi nhuận trước thuế',
  '7,423,087,000,000',
  '7,566,222,000,000',
  '12,419,095,000,000',
  '11,221,344,000,000'],
 ['Chi phí thuế TNDN',
  '1,478,285,000,000',
  '1,501,418,000,000',
  '3,407,375,000,000',
  '2,229,443,000,000'],
 ['Chi phí thuế hiện hành', '', '', '', '2,225,361,000,000'],
 ['Chi phí thuế hoãn lại',
  '2,871,000,000',
  '-4,640,000,000',
  '-921,799,000,000',
  ''],
 ['Lợi nhuận sau thuế',
  '5,941,931,000,000',
  '6,069,444,000,000',
  '9,933,519,000,000',
  '8,991,901,000,000'],
 ['Lợi ích của cổ đông thiểu số',
  '4,977,000,000',
  '4,574,000,000',
  '5,242,000,000',
  '5,466,000,000'],
 ['Lợi nhuận sau thuế của cổ đông công ty mẹ',
  '5,936,954,000,000',
  '6,064,870,000,000',
  '9,928,277,000,000',
  '8,986,435,000,000'],
 ['Lãi cơ bản trên cổ phiếu', '1,255', '1,282', '2,098', '1,899'],
 ['Lãi suy giảm trên cổ phiếu', '', '', '', '']]

In [31]:
import pandas as pd

In [32]:
df = pd.DataFrame(formatted_data)
df.head(20)

,0,1,2,3,4
0,VCB_KetQuaHoatDongKinhDoanh_Theo_Quy,None,None,None,None
1,,Quý 2-2022,Quý 3-2022,Quý 4-2022,Quý 1-2023
2,Thu nhập lãi ròng,"12,797,206,000,000","13,663,951,000,000","14,809,469,000,000","14,202,946,000,000"
3,Thu nhập lãi và các khoản thu nhập tương tự,"20,671,039,000,000","22,569,428,000,000","25,534,087,000,000","27,689,870,000,000"
4,Chi phí lãi và các khoản chi phí tương tự,"7,873,833,000,000","8,905,477,000,000","10,724,618,000,000","13,486,924,000,000"
5,Lãi/lỗ ròng từ hoạt động dịch vụ,"694,629,000,000","1,102,269,000,000","2,331,342,000,000","1,456,346,000,000"
6,Thu nhập từ hoạt động dịch vụ,"1,989,373,000,000","2,598,204,000,000","4,124,029,000,000","2,883,744,000,000"
7,Chi phí hoạt động dịch vụ,"1,294,744,000,000","1,495,935,000,000","1,792,687,000,000","1,427,398,000,000"
8,Lãi/lỗ ròng từ hoạt động kinh doanh ngoại hối ...,"1,471,713,000,000","1,587,018,000,000","1,187,847,000,000","1,705,674,000,000"
9,Lãi/lỗ thuần từ mua bán chứng khoán kinh doanh,"18,628,000,000","-154,388,000,000","4,042,000,000","29,903,000,000"
10,Lãi/ lỗ thuần từ mua bán chứng khoán đầu tư,"84,879,000,000","-1,155,000,000","-1,965,000,000",
11,Lãi thuần từ hoạt động khác,"880,941,000,000","389,465,000,000","299,593,000,000","1,082,775,000,000"
12,Thu nhập hoạt động khác,"1,013,546,000,000","616,998,000,000","721,538,000,000","1,444,875,000,000"
13,Chi phí hoạt động khác,"132,605,000,000","227,533,000,000","421,945,000,000","362,100,000,000"
14,"Thu nhập từ góp vốn, mua cổ phần","24,345,000,000","127,264,000,000","32,313,000,000","39,530,000,000"
15,Tổng thu nhập kinh doanh,"15,972,341,000,000","16,714,424,000,000","18,662,641,000,000","18,517,174,000,000"
16,"Lãi/ lỗ trong công ty liên kết, liên doanh",,,,
17,Chi phí hoạt động,"5,815,802,000,000","6,370,005,000,000","4,564,916,000,000","5,274,254,000,000"
18,Chi phí nhân viên,,,,
19,Chi phí khấu hao,,,,